BOT_TOKEN=your_value_here
BOT_USERNAME=your_value_here

DATABASE_URL=your_value_here
REDIS_HOST=your_value_here
REDIS_PORT=your_value_here

YOOKASSA_ACCOUNT_ID=your_value_here
YOOKASSA_SECRET_KEY=your_value_here

ADMIN_IDS=your_value_here

WEBHOOK_URL=your_value_here
WEBHOOK_SECRET=your_value_here
WEBHOOK_PORT=your_value_here

PROXY_HOST=your_value_here
PROXY_PORT=your_value_here

XRAY_HOST=your_value_here
XRAY_PORT=your_value_here
XRAY_USERNAME=your_value_here
XRAY_PASSWORD=your_value_here
XRAY_INBOUND_ID=your_value_here
XRAY_ADDRES=your_value_here

SUB_DOMAIN=your_value_here
SUB_PATH=your_value_here

REALITY_PRIVATE_KEY=your_value_here
REALITY_PUBLIC_KEY=your_value_here
REALITY_SHORT_ID=your_value_here
REALITY_DEST=your_value_here
REALITY_SNI=your_value_here
